* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
}

/* HEADER */

header {
    background-image: url(./images/binary_numbers_dark_blue.jpg);
    background-position: bottom;
    height: 120px;
    color: white;
}

header > h1,
header > h2 {
    margin: 0 2%;
}

/* MAIN */
.main {
    margin: 0 2%;
}

.main ul {
    margin: 0 6%;
}

.main h3,
.main h2 {
    margin-top: 20px;
}

.titles {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.titles p {
    color: #0772CB;
    font-size: 20px;
    font-weight: 700;
    flex-grow: 1;
}

.board {
    height: 450px;
    width: 100%;
    margin-top: 20px;
    background: #9DD1F1;
    display: flex;
    flex-direction: row;
    
}

.board h4 {
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    color: #f07c41;
}

.board p {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    color: white;
    
}


.play {
    flex-grow: 1;
}

.play input {
    
    width: 100px;
    height: 25px;
    margin-top: 20px;
}

.play button {
    display: block;
    width: 100px;
    margin: 5px 1%;
    border-radius: 10px;
    padding: 5px;
    background: white;
}

.trys {
    flex-grow: 2;
}

#numTrys {

}

.feedback {
    flex-grow: 2;
}

#feed {
    
}

.award {
    flex-grow: 1;
}

#ribbonAward img {
    height: 200px;
    width: 120px;
}








/* FOOTER */

footer{
   position: fixed;
   bottom: 0;
   background: #f07c41;
   width: 100%;
   height: 25px;
   text-align: center;
   line-height: 25px;
   color: white;
}

